# This is a basic workflow to help you get started with Actions

name: Frontend Deploy

## Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "develop" branch
  push:
    branches: [ "deployment" ]
  pull_request:
    branches: [ "main" ]
#
#  # Allows you to run this workflow manually from the Actions tab
#  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    name: Deploy Frontend
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # (1) 기본 체크아웃
      - name: Checkout
        uses: actions/checkout@v4

      # (2) Node 세팅
      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: 20

#      # (3) npm install
#      - name: Npm Install
#        run: npm ci

      # (3) .env.production 세팅
      - name: Set secret file (prod)
        run: |
          pwd
          ls -la
          touch ./.env.production
          echo "${{ secrets.ENV_PRODUCTION }}" > ./.env.production
          chmod 600 ./.env.production
          pwd
          ls -la
          cat .env.production

      # (4) package.json의 있는 version을 기반으로 값을 불러옴
      - name: get-npm-version
        id: package-version
        uses: martinbeentjes/npm-get-version-action@v1.3.1

      # (5) Docker Buildx를 위한 QEMU 세팅
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      # (6) 크로스 플랫폼 빌드를 위한 Buildx 세팅
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # (7) Docker Hub 로그인
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_ACCESSTOKEN }}

      # (8) Docker build 및 push
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/${{ secrets.DOCKER_REPOSITORY }}:latest
            ${{ secrets.DOCKER_USERNAME }}/${{ secrets.DOCKER_REPOSITORY }}:${{ steps.package-version.outputs.current-version}}

#      # (7) Docker Hub에 private 이미지로 푸시
#      - name: Push Docker image to Docker Hub
#        run: docker push ${{ secrets.DOCKER_USERNAME }}/${{ secrets.DOCKER_REPOSITORY }}:${{ steps.package-version.outputs.current-version}}

      # (9) Deploy to Front Server
      - name: Deploy to Front Server
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.FRONT_IP }} # Front Server IP
          username: ${{ secrets.FRONT_USERNAME }}
          password: ${{ secrets.FRONT_PASSWORD }}
#          key: ${{ secrets.FRONT_ACCESS }}
          port: ${{ secrets.FRONT_PORT }} # 접속포트
          script: |
            date >> ~/gj-front-log.txt
            docker login -u "${{ secrets.DOCKER_USERNAME }}" -p "${{ secrets.DOCKER_ACCESSTOKEN }}"
            docker stop gj_front || true
            docker rm gj_front || true
            docker rmi ${{ secrets.DOCKER_USERNAME }}/${{ secrets.DOCKER_REPOSITORY }}:latest || true
            docker pull ${{ secrets.DOCKER_USERNAME }}/${{ secrets.DOCKER_REPOSITORY }}:latest
            docker run -d --restart always --name gj_front guhaejojibsa621/guhaejo_jibsa_front:latest
#            docker run -d --name gj-front ${{ secrets.DOCKER_DOCKER_USERNAME }}/${{ secrets.DOCKER_REPOSITORY }}:latest
